<div class="container my-4 flex-grow-1">
    <h1 class="text-center mb-4">About Us</h1>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <p>Welcome to Energy Prices Comparator! Our web application helps users with 24-hour electricity meters compare smart electricity meter plans. By collecting user inputs through a form, we scrape energy prices from various websites and display the best plans in a table format.</p>

            <h3>Key Features:</h3>
            <ul>
                <li><strong>User Form:</strong> Select your electricity supply region (Urban/Rural), meter type (24 Hour Meter), and annual usage (in ? or kWh). Options for cash-back inclusion.</li>
                <li><strong>Backend Processing:</strong> Scrape energy prices, process data, and compare plans.</li>
                <li><strong>Output:</strong> Display the best price plan and other options in a table, including plan name, supplier, cost, savings, and cash-back if applicable.</li>
            </ul>

            <p>Our goal is to help you find the best electricity plan based on your needs.</p>
        </div>
    </div>
</div>